.age1 {
    background-color: #ddffda;
    border: 1px solid;
    border-color: #51BC51;
    line-height: 16px;
}

.age2 {
    background-color: #faffde;
    border: 1px solid;
    border-color: #D2991E;
    line-height: 16px;
}

.age3 {
    background-color: #fff1e1;
    border: 1px solid;
    border-color: #FFA600;
    line-height: 16px;
}

.age4 {
    background-color: #fce1e1;
    border: 1px solid;
    border-color: #DD1212;
    line-height: 16px;
}

.age114514 {
    border-color: #c4ffbf;
    border-color: #f5ffbf;
    border-color: #ffd6a7;
    border-color: #ffa7a7;
}