.age1 {
    background-color: #ddffda;
    border: 1px solid;
    border-color: #51BC51 #51BC51 transparent #51BC51;
}

.age2 {
    background-color: #faffde;
    border: 1px solid;
    border-color: #D2991E #D2991E transparent #D2991E;
}

.age3 {
    background-color: #fff1e1;
    border: 1px solid;
    border-color: #FFA600 #FFA600 transparent #FFA600;
}

.age4 {
    background-color: #fce1e1;
    border: 1px solid;
    border-color: #DD1212;
}