#chiage1 {
    background-color: #ddffda;
    border: 1px solid;
    border-color: #51BC51 #51BC51 transparent #51BC51;
    height: 615px;
}

#chiage2 {
    background-color: #faffde;
    border: 1px solid;
    border-color: #D2991E #D2991E transparent #D2991E;
    height: 450px;
}

#chiage3 {
    background-color: #fff1e1;
    border: 1px solid;
    border-color: #FFA600 #FFA600 transparent #FFA600;
    height: 397px;
}

#chiage4 {
    background-color: #fce1e1;
    border: 1px solid;
    border-color: #FF3535 #FF3535 transparent #FF3535;
    height: 180px;
}