  #can {
      filter: brightness(100%);
  }

  #cannot {
      filter: brightness(25%);
  }

  #can1 {
      z-index: -99;
  }

  #cannot1 {
      z-index: 99;
  }

  #techtree td {
      width: 40px;
      height: 40px;
  }

  #techtree img {
      position: relative;
      top: 2px;
  }

  li {
      line-height: 1.8
  }