    li {
        line-height: 1.8
    }

    .unit-desc {
        width: 500px;
        height: 130px;
        text-align: left !important;
        vertical-align: middle;
    }

    .unit-img {
        width: 150px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        .classer img {
            width: 130px;
            height: auto;
        }
    }

    @media (max-width:700px) {

        .unit-table {
            width: 100% !important;
        }

        /* 第一行和第二行取消表格布局 */
        .unit-table .unit-head,
        .unit-table .unit-default {
            display: block;
        }

        /* 第一行的三个td都变block */
        .unit-table .unit-head td {
            display: block;
            width: 100% !important;
            box-sizing: border-box;
        }

        /* 左右图片并排 */
        .unit-table .unit-img-left,
        .unit-table .unit-img-right {
            display: inline-block !important;
            width: 50% !important;
            vertical-align: top;
        }

        /* 文字独占一行 */
        .unit-table .unit-desc {
            display: block !important;
            width: 100% !important;
        }

        /* 默认名称 */
        .unit-table .unit-default td {
            display: block;
            width: 100% !important;
        }

        /* 图片自适应 */
        .unit-img {
            width: 100%;
            height: auto;
        }

    }