    li {
        line-height: 1.8
    }

    .unit-desc {
        width: 500px;
        height: 130px;
        text-align: left !important;
        vertical-align: middle;
    }

    .unit-img {
        width: 150px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        .classer img {
            width: 130px;
            height: auto;
        }
    }

    @media (max-width:700px) {

        .unit-img {
            width: 100%;
        }

        .unit-table {
            width: 100% !important;
        }

        /* 第一行改成grid */
        .unit-table .unit-head {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        /* 左图 */
        .unit-table .unit-img-left {
            grid-column: 1;
        }

        /* 右图 */
        .unit-table .unit-img-right {
            grid-column: 2;
        }

        /* 描述文字占两列 */
        .unit-table .unit-desc {
            grid-column: 1 / span 2;
        }

        /* 图片自适应 */
        .unit-table img {
            width: 100%;
            height: auto;
        }

    }