/*return top*/

.izl-rmenu {
    margin-right: 0;
    width: 26px;
    position: fixed;
    top: 0%;
    z-index: 999;
}

.izl-rmenu .btn_top {
    position: relative;
    left: 880px;
    background-image: url(http://seicing.com/res/to.png);
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    height: 26px;
    width: 26px;
    /*
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    */
}

.izl-rmenu .btn_top:hover {
    background-image: url(http://seicing.com/res/to.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}