@font-face {
    font-family: "lavi";
    src: url("https://seicing.com/res/SourceHanSansCN-Medium.otf"),
}

#tablebana {
    width: 492px;
    text-align: left;
    color: #ffffff;
    font-family: "lavi";
    font-size: 18px;
    font-style: italic;
}

#tablebana2 {
    width: 492px;
    text-align: center;
    color: #ffffff;
    font-family: "lavi";
    font-size: 18px;
    font-style: italic;
}

#banaheader {
    font-size: 21px;
    color: #EFDCB7;
}

#banaheader2 {
    font-size: 1px;
    color: #EFDCB7;
}

#dia1 {
    float: left;
    margin-bottom: 9px;
    background: url(https://seicing.com/res/DialogHeader.png) top no-repeat,
        url(https://seicing.com/res/DialogBottom.png) bottom no-repeat,
        url(https://seicing.com/res/DialogCenter.png) top repeat-y;
}

#dia2 {
    float: right;
    margin-bottom: 9px;
    background: url(https://seicing.com/res/DialogHeader.png) top no-repeat,
        url(https://seicing.com/res/DialogBottom.png) bottom no-repeat,
        url(https://seicing.com/res/DialogCenter.png) top repeat-y;
}

#dia3 {
    float: left;
    margin-bottom: 9px;
    background: url(https://seicing.com/res/DialogHeadernon.png) top no-repeat,
        url(https://seicing.com/res/DialogBottom.png) bottom no-repeat,
        url(https://seicing.com/res/DialogCenter.png) top repeat-y;
}

#金 {
    color: #EFDCB7
}

#绿 {
    color: #00ff00
}

#红 {
    color: #E61E1E
}

#大 {
    font-size: 30px;
}

#小 {
    font-size: 12px;
}