 /*             <link href="https://seicing.com/css/故事.css" rel="stylesheet" type="text/css" media="screen" />                 
<div style="text-align: center">
 */
 
 #divl {
     text-align: left
 }
 
 #divc {
     text-align: center
 }
 
 #purewhite {
     color: rgb(255, 255, 255)
 }
 
 #ad {
     color: rgb(255, 0, 0)
 }
 
 #ap {
     color: rgb(0, 0, 255)
 }
 
 #combo {
     color: rgb(0, 255, 0)
 }
 
 #amaranda {
     color: rgb(151, 133, 107)
 }
 
 #hayin {
     color: rgb(255, 0, 191)
 }
 
 #apadio {
     color: rgb(221, 74, 74)
 }
 
 #maria {
     color: rgb(36, 136, 103)
 }
 
 #hirz {
     color: rgb(237, 240, 54)
 }
 
 #hayres {
     color: rgb(255, 1, 0)
 }
 
 #dedildu {
     color: rgb(128, 96, 96)
 }
 
 #aragon {
     color: rgb(0, 217, 255)
 }
 
 #aisladdin {
     color: rgb(43, 199, 63)
 }
 
 #domingo {
     color: rgb(199, 92, 43)
 }
 
 #Gonzalo {
     color: rgb(233, 95, 95)
 }
 
 #vi {
     color: rgb(195, 149, 255)
 }
 
 #seicing {
     color: #FFB11B
 }
 
 #khulan {
     color: rgb(0, 255, 76)
 }
 
 #chan {
     color: rgb(79, 1, 180)
 }
 
 #tellah {
     color: rgb(255, 2, 0)
 }
 
 #sirno {
     color: rgb(255, 167, 236)
 }
 
 #eyeo {
     color: rgb(107, 131, 151)
 }
 
 #aster {
     color: rgb(197, 93, 175)
 }
 
 #durak {
     color: rgb(67, 108, 196)
 }
 
 #ekaterina {
     color: rgb(166, 215, 255)
 }
 
 #ereu {
     color: rgb(117, 139, 156)
 }
 
 #cherine {
     color: rgb(180, 82, 1)
 }
 
 #babette {
     color: rgb(180, 58, 1)
 }
 
 #iuimi {
     color: rgb(217, 27, 255)
 }
 
 #gaoh {
     color: rgb(27, 255, 160)
 }
 
 #erza {
     color: rgb(165, 215, 255)
 }
 
 #emperor {
     color: rgb(177, 159, 125)
 }
 
 #meirei {
     color: rgb(229, 255, 0)
 }
 
 #siri {
     color: rgb(168, 96, 36)
 }
 
 #yunpyeng {
     color: rgba(255, 187, 0, 0.966)
 }
 
 #chinkoo {
     color: rgb(255, 27, 27)
 }
 
 #soenglan {
     color: rgb(27, 152, 255)
 }
 
 #vein {
     color: rgb(231, 203, 219)
 }
 
 #sanyukta {
     color: rgb(153, 153, 153)
 }
 
 #chimon {
     color: rgb(54, 131, 77)
 }
 
 #shingetsu {
     color: rgb(112, 94, 94)
 }
 
 #souun {
     color: rgb(63, 63, 63)
 }
 
 #iris {
     color: rgb(117, 126, 255)
 }
 
 #bayin {
     color: rgb(202, 202, 202)
 }
 
 #sarchlent {
     color: rgb(255, 27, 28)
 }
 
 #louich {
     color: rgb(255, 27, 198)
 }
 
 #hazardyr {
     color: rgb(255, 124, 124)
 }
 
 #azis {
     color: rgb(117, 126, 254)
 }
 
 #prithviraj {
     color: rgb(63, 172, 154)
 }
 
 #izayoi {
     color: rgb(102, 94, 119)
 }
 
 #seigent {
     color: rgb(173, 127, 42)
 }
 
 #asimov {
     color: rgb(153, 130, 255)
 }
 
 #gertrud {
     color: rgb(130, 255, 147)
 }
 
 #janet {
     color: rgb(255, 130, 130)
 }
 
 #laias {
     color: rgb(109, 57, 57)
 }